<!-- Footer -->

<footer class="white-section" id="footer">
    <div class="footer-text" >
      <i class="social-icon fab fa-facebook-f"></i>
      <i class="social-icon fab fa-twitter"></i>
      <i class="social-icon fab fa-instagram"></i>
      <i class="social-icon fas fa-envelope"></i>
      <p>© Copyright 2022 EzPay</p>
    </div>
  </footer>

</body>
</html>
