<%- include('partials/header') %>

<!-- <div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">You've Discovered My Secret!</h1>

    <% usersWithSecrets.forEach(function(user){ %>
      <p class="secret-text"><%=user.secret%></p>
    <% }) %>



    <hr>
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
  </div>
</div> -->
<div class="container-fluid">
  <div class="row">

    <div class="col-lg-3">
        <div>
          <h1>Welcome!</h1>
        </div>
        <div class="w3-sidebar w3-bar-block w3-black">
          <a href="#" class="w3-bar-item w3-button"><i class="fas fa-user-circle"></i> Profile </a>
          <a href="#" class="w3-bar-item w3-button"><i class="fas fa-credit-card"></i> Add Cards</a>
          <a href="#" class="w3-bar-item w3-button"><i class="fas fa-credit-card"></i> Delete Cards</a>
          <a href="#" class="w3-bar-item w3-button"><i class="fas fa-credit-card"></i> Update Cards</a>
          <a href="#" class="w3-bar-item w3-button"><i class="fab fa-bitcoin"></i> Points system</a>
          <a href="#" class="w3-bar-item w3-button"><i class="fas fa-money-bill-alt"></i> Perform Transactions</a>
          <a href="#" class="w3-bar-item w3-button"><i class="fas fa-money-bill-alt"></i> Transactions History</a>
        </div>
        
    </div>

    <div class="col-lg-3">
        <h1>Profile</h1><h1>Profile</h1>
                  
                  
      </div>
      <div class="col-lg-3">
        <h1>Profile</h1><h1>Profile</h1>
                  
      </div>
  </div>
</div>




<%- include('partials/footer') %>

