
h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Bold";
}

p {
  color: #8f8f8f;
}

body {
  background-color: #E8ECEF;
  font-family: "Montserrat";
  /* text-align: center; */
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}

.big-heading {
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Sections */

.colored-section {
  background-color:#030000 !important;
  color: #fff !important;
}

.white-section {
  background-color: #fff;
  text-align: center;
}


.container-fluid{
  padding: 7% 15%;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
  background-color: #000;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
  margin-left: 2%;
  margin-top: 2%;
  color: white !important;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Work Sans";
  text-transform: uppercase;
  color: white !important;
  h
}

/* Buttons */

.button {
  margin: 5% 3% 5% 0;
}

/* Title Section */

#title {
  text-align: left;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}

/* Title Image */

.background-image{
  width: 100%;
}

.title-image {
  width: 99%;
  height: 95%;
  /* transform: rotate(25deg); */
  position: absolute;
  right: 10%;
}

/* Features Section */

#features {
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  padding: 4.5%;
}

.icon {
  color: #5f5f5f;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #030000;
}

/* Testimonial Section */

#testimonials {
  background-color: #ef8172;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.partners{
  padding: 7% 0 5% 0;
  text-align: center;
  font-family: "Helvetica";
  font-weight: bold;
  font-size: 3.5rem;
  color: #ffffff;
  line-height: 1.5;
}

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  margin: 22px 22px 55px;
  width: 16%;
}

/* Pricing Section */

#services {
  padding: 100px;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

/* CTA Section */


/* Footer Section */

.footer-text {
  text-align: center;
  padding: 2% 5%;
}

.social-icon {
  margin: 20px 10px;
}

@media (max-width: 1028px) {

  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}








/* dashboard */


.w3-sidebar{
  height:300px;
  width:35px;
  background-color:#fff;
  display:block!important;
}


.w3-bar-block{
  width:100%;
  text-align:left;
  padding:8px 16px;
  display:block;
  border:none;
  white-space:normal;
  float:none;
  outline:0;
}



.w3-bar-item{
  width:100%;
  display:block;
  padding:8px 16px;
  text-align:left;
  border:none;
  white-space:normal;
  float:none;
  outline:0
}


.w3-main{
  transition:margin-left .4s
  }


.w3-button{
    width:100%;
    text-align:left;
    border:none;
    display:inline-block;
    padding:8px 16px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    color:inherit;
    background-color:inherit;
    cursor:pointer;
    white-space:nowrap;
  }

  .w3-black{
    color:#fff!important;
    background-color:#000!important
  }

  .w3-button:hover{
    color:#000!important;
    background-color:#ccc!important
  }